{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% for blog in blogs %}
        <h2><a href="{{ path('blog', { slug: blog.slug }) }}" title="">{{ blog.title }}</a></h2>
        <small>{{  blog.created|date('Y-m-d H:i:s') }}</small>
        <p>{{ blog.content|striptags|u.truncate(150, '...', false) }}</p>
            {% if not loop.last %}
            <hr>
            {% endif %}
    {% endfor %}
</div>

{% endblock %}
